:root {
	--day: white;
	--night: rgb(40, 40, 40);
}

@media (prefers-color-scheme: light) {
	html {
		background: var(--day);
	}
	i {
		color: black;
	}
}

@media (prefers-color-scheme: dark) {
	html {
		background: var(--night);
		color: var(--day);
	}
}

body {
	font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
	line-height: 1.5;
	margin: 1em auto;
	padding: 1em;
	max-width: 50em
}

.headline {
	text-decoration: underline;
}

nav {
	display: flex;
}

nav img {
	padding-top: .3rem;
	padding-bottom: .3rem;
}

nav ul {
	list-style: none;
	display: flex;
}

nav ul li {
	padding: .5rem 1rem;
	opacity: .8;
}

.socials {
	margin-left: auto; 
	margin-right: 0;
}
nav a {
	color: white;
}

a {
	color: #1890ff;
	text-decoration: none;
}

i span {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0,0,0,0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}
